
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36rem 5rem;
    z-index: 1;
}
.menu.in-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__left {
    flex-basis: 100rem;
    flex-grow: 1;
    z-index: 1;
}
.menu.in-footer .menu__left {
    top: 50rem;
}
.menu__menu {
    display: flex;
}
.menu__menu__item {
    display: flex;
    align-items: center;
    margin: 0 4rem;
    padding: 8rem 15rem;
    border-radius: 6rem;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.menu__menu__item.special {
    border: 2rem solid rgb(var(--c-blue));
}
.menu__center {
    z-index: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
}
.menu.in-footer .menu__center {
    top: -170rem;
}
.menu__center__logo-shine {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
.menu__center__logo-shine img{
    animation: sun 120s linear infinite;
}
.menu__center__logo {
    position: absolute; 
    top: -2rem;
    left: 0;
    background-color: rgb(var(--c-white));
    border-radius: 150rem;   
    padding: 20rem;
    transform: translate(-50%,-50%);
}
.menu__center__logo img{
    top: 2rem;
}
.menu__right {
    flex-basis: 100rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}
.menu.in-footer .menu__right {
    flex-direction: column;
    order: 3;
}
.menu__social {
    display: flex;
    align-items: center;
    font-size: 0;
} 
.menu.in-footer .menu__social {
    order: 2;
    margin-top: 10rem;
}
.menu__social__item {
    margin: 0 2rem;
}
.menu__phone {
    display: flex;
    align-items: center;
    margin: 0 30rem 0 20rem;
}
.menu__phone a {
    text-decoration: none;
    font-size: 25rem;
    font-weight: 500;
    margin-left: 10rem;
}
.menu__address {
    display: none;
}
.menu.in-footer .menu__address {
    display: block;
    font-size: 14rem;
    font-weight: 500;
    order: 1;
    margin: 20rem 0 -10rem;
}

@keyframes sun {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 800px) {
    .menu {
        padding: 40px 10px;
    }
    .menu__center {
        margin-left: 80rem;
    }
    .menu.in-footer .menu__center {
        margin-left: 0;
        top: -150px;
    }
    .menu__center__logo {
        padding: 10px;
    }
    .menu__center__logo img {
        width: 60px;
    }
    .menu__center__logo-shine img {
        width: 300px;
    }
    .menu__phone img {
        width: 40rem;
    }
    .menu__menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu__menu__item {
        margin-bottom: 10px;
    }
    .menu.in-footer .menu__address {
        font-size: 15px;
        margin: 10px 0;
    }
    .menu.in-footer .menu__left {
        top: 0;
        margin-top: 20px;
    }
}