

:root {
    --c-white: 255,255,255;
    --c-black: 60,73,80;
    --c-light: 238,241,243;
    --c-blue: 27,150,210;
    --c-green: 88,195,70;
    --c-orange: 245,156,55;
    --container-width: 1400px;
    --initial-font-size: 1px;
}

.c-white {
    color: rgb(var(--c-white));
}
.c-black {
    color: rgb(var(--c-black));
}
.c-light {
    color: rgb(var(--c-light));
}
.c-blue {
    color: rgb(var(--c-blue));
}
.c-green {
    color: rgb(var(--c-green));
}
.c-orange {
    color: rgb(var(--c-orange));
}

.bg-white {
    background-color: rgb(var(--c-white));
}
.bg-black {
    background-color: rgb(var(--c-black));
}
.bg-light {
    background-color: rgb(var(--c-light));
}
.bg-blue {
    background-color: rgb(var(--c-blue));
}
.bg-green {
    background-color: rgb(var(--c-green));
}
.bg-orange {
    background-color: rgb(var(--c-orange));
}

@media screen and (max-width: 800px) {

    :root {
        --view-coeff: calc(100vw / 800);
        --initial-font-size: calc((1px - var(--view-coeff)) * 0.4 + var(--view-coeff));
    }
    
}